html {
    background-color: rgb(18, 18, 18);
    color: rgb(254, 254, 254);
}

h1 {
    margin: auto;
    text-align: center;
}

#wrapper {
    margin: auto;
    padding: auto;
    width: 90%;
    text-align: center;
}

.home {
    background-image: url('../images/dora.jpg');
    background-repeat: no-repeat;
    background-position: top;
    min-height: 720px;
    color: white;
}

.flashes {
    color: red;
}

.item {
    display: block;
    text-transform: capitalize; /*Capitalises text*/
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(40, 40, 40);
}

.item form {
    display: inline-block;
    width: auto;
    margin: auto;
}

.item p {
    display: inline-block;
    width: auto;
    margin: auto;
}

.item pre {
    display: inline-block;
    width: auto;
    margin: auto;
}

.errors {
    list-style-type: none;
    color: red;
}

ul {
    padding-inline-start: 0px;
}

footer {
    text-align: center;
    margin-top: 20px;
}